<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOrder">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57361/Order.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IOrder" contract="ServiceReference2.IOrder"
                name="WSHttpBinding_IOrder" />
        </client>
    </system.serviceModel>
</configuration>