<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOrder">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57361/Order.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IOrder" contract="IOrder"
                name="WSHttpBinding_IOrder" />
        </client>
    </system.serviceModel>
</configuration>