<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPaymentInterface">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57361/PaymentInterface.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPaymentInterface"
                contract="ServiceReference1.IPaymentInterface" name="WSHttpBinding_IPaymentInterface" />
          <endpoint address="http://localhost:57361/PaymentInterface.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPaymentInterface"
                contract="IPaymentInterface" name="WSHttpBinding_IPaymentInterface" />
        </client>
    </system.serviceModel>
</configuration>