<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPaymentInterface">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57361/PaymentInterface.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPaymentInterface"
                contract="IPaymentInterface" name="WSHttpBinding_IPaymentInterface" />
        </client>
    </system.serviceModel>
</configuration>